.mainpage-content {
    text-align: center;

    .titles-container {
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .main-title {
            font-weight: 400;
            font-size: 2rem;
        }
        
        .sub-title {
            font-weight: 300;
            font-size: 1.5rem;
        }
    }

    .buttons-container {
        padding: 50px 0;
        height: 100px;
        display: flex;
        justify-content: space-around;


        button {
            padding: 1vh;
            width: 15vw;
            max-width: 200px;
            max-height: 50px;
            border-radius: 25px;
            background-color: white;
            border: solid 2px;
            font-size: 1.2rem;
            overflow: hidden;
            -webkit-box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.2); 
            box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.2);

            &:hover {
                cursor: pointer;
                -webkit-box-shadow: inset 6px 6px 20px 0px rgba(0,0,0,0.2); 
                box-shadow: inset 6px 6px 20px 0px rgba(0,0,0,0.2);
            }
        }

        .login-btn {
            color: #17C3B2;
            border-color: #17C3B2;

            &:hover {
                color: white;
                background-color: #17C3B2;
                transition: ease 1s;
            }
        }

        .register-btn {
            color: #0A2FAD;
            border-color: #0A2FAD;

            &:hover {
                color: white;
                background-color: #0A2FAD;
                transition: ease 1s;
            }
        }
    }
}

.mainpage-connected-content {
    height: calc(100vh - 91px - 40px);
    display: flex;
    flex-direction: column;
    padding: 20px 30px;

    .home-container {
        display: flex;
        flex-direction: row;
        flex: 1;

        .image-container {
            display: flex;
            flex: 2;
            justify-content: center;
            align-items: center;

            .home-image {
                max-width: 70vw;
                max-height: 70vh;
                width: auto;
                height: auto;
            }
        }

        .menu-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .link-menu {
                padding: 10px 15px;
                border: 3px solid #0A2FAD;
                border-radius: 25px;
                margin-bottom: 30px;
                font-size: 2rem;
                color: #0A2FAD;
                overflow: hidden;
                -webkit-box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.2); 
                box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.2);

                &:hover {
                    cursor: pointer;
                    -webkit-box-shadow: inset 6px 6px 20px 0px rgba(0,0,0,0.2); 
                    box-shadow: inset 6px 6px 20px 0px rgba(0,0,0,0.2);
                }
            }
        }
    }
}