.container-login {
    display: flex;
    flex-direction: row;
    padding: 10vh 10vw;

    .flex-button-container {
        display: flex;
        flex-direction: row;

        .title {
            padding: 10px 15px;
            width: fit-content;
            background-color: #0A2FAD;
            font-size: 1.5rem;
            color: white;
            font-weight: bolder;
            border-radius: 5px;
            margin-bottom: 15px;
        }

        .transparent-title {
            opacity: 0.5;
        }
    }

    .flex-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-self: center;
        margin: 0 30px;

        .login-form {
            flex: 1;
            display: flex;
            flex-direction: column;
            border: solid 5px #227C9D;
            border-radius: 31px;
            padding: 40px 50px;
            -webkit-box-shadow: 8px 8px 15px -4px rgba(0,0,0,0.21); 
            box-shadow: 8px 8px 15px -4px rgba(0,0,0,0.21);

            label {
                font-size: 1.3rem;
                font-weight: 300;
                margin-bottom: 15px;
                margin-left: 10px;
            }

            input {
                padding: 15px;
                background-color: #227c9d2b;
                border: none;
                border-radius: 50px;
                font-size: 1.5rem;
                
                &[name="email"] {
                    margin-bottom: 40px;
                }

                &[name="password"] {
                    margin-bottom: 30px;
                }
            }

            .forget-password {
                cursor: pointer;
                font-weight: 300;
                color: #227C9D;
                text-align: right;
            }
        }

    }
    .image-container {
        flex: 1;

        img {
            max-width: 70vw;
            max-height: 70vh;
            width: auto;
            height: auto;
        }
    }
}